<!--
<td nowrap align="center">Name: </td>
				<td nowrap align="center">Typus: </td>
				<td nowrap align="center">Verzauberung: </td>
			</tr>
			<tr>
				<td nowrap align="center"><input name="Name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}" /></td>
				<td nowrap align="center"><input name="Typus" type="text" value="{{actor.data.Type.value}}" placeholder="{{ localize 'Name' }}" /></td>
				<td nowrap align="center"><input name="EnchantValue" type="number" value="{{actor.data.EnchantValue.value}}" placeholder="{{ localize 'Name' }}" /></td>
			</tr>
			<tr>
				<td nowrap align="center">Schaden: </td>
				<td nowrap align="center">Bonus: </td>
				<td nowrap align="center">Kategorie: </td>
			</tr>
			<tr>
				<td nowrap align="center"><input name="Damage" type="number" value="{{actor.data.Damage.value}}" placeholder="{{ localize 'Name' }}" /></td>
				<td nowrap align="center"><input name="Bonus" type="number" value="{{actor.data.CategoryValue.value}}" placeholder="{{ localize 'Name' }}" /></td>
				<td nowrap align="center"><input name="Category" type="text" value="{{actor.data.Category.value}}" placeholder="{{ localize 'Name' }}" /></td>
-->

<label style="width: 150px; color: rgb(0, 0, 0); text-align: center;">Waffen & Rüstungen</label>
<div class="section-body">
	<ol class="weapon-list item-list">
		{{#each weapons as |weapon weaponsId|}}
			<div class="item weapon flexrow" data-item-id="{{weapon._id}}">
				<table class="attribute_center" border="2">
					<tbody>
                  <tr>
                     <th nowrap colspan="2" style="width: 150px;"><label class="sheet-table-header" style="width: 150px; text-align:center; color: rgb(0, 0, 0);">Waffe/Rüstung</label></th>
                     <th nowrap style="width: 80px;"><label class="sheet-table-header" style="width: 150px; text-align:center; color: rgb(0, 0, 0);">Typus</label></th>
                     <th nowrap style="width: 50px;"><label class="sheet-table-header" style="width: 150px; text-align:center; color: rgb(0, 0, 0);">Verzauberung</label></th>
                     <th nowrap style="width: 60px;"><label class="sheet-table-header" style="width: 150px; text-align:center; color: rgb(0, 0, 0);">Schaden/Schutz</label></th>
                     <th nowrap style="width: 50px;"><label class="sheet-table-header" style="width: 150px; text-align:center; color: rgb(0, 0, 0);">Bonus</label></th>
                     <th nowrap style="width: 80px;"><label class="sheet-table-header" style="width: 150px; text-align:center; color: rgb(0, 0, 0);">Kategorie</label></th>
                     <th nowrap style="width: 50px;"><label class="sheet-table-header" style="width: 150px; text-align:center; color: rgb(0, 0, 0);">Entfernen</label></th>
                  </tr>
                  <tr style="width: 120px;">
                     <td nowrap align="center" style="border-right: 1px;"><label class="sheet-table-header" style="width: 80px; text-align:center; color: rgb(0, 0, 0);">{{weapon.name}}</label></td>
                     <td nowrap align="center" style="border-left: 1px;"><span style="width: 50px;" title="Ein(e) {{weapon.name}}">&nbsp;<img src="../../systems/toeloria/icons/info.svg" style="height: 15px; width: 15px; border: none;"></img></span>&nbsp;&nbsp;</td>
					 <td nowrap align="center"><input type="text" class="{{actor.data.FeatTypus.value}}" name="data.FeatValue.value" style="width:60px; text-align:center;" title="{{itemsthing.name}}-Wert" value="{{actor.data.FeatValue.value}}" placeholder="Typus"></td>
					 <td nowrap align="center" class="">
						&nbsp;
						<select
							class=""
							style="height: 24px; width: 40px; font-size: 0.75em"
							name="data.SkillValue.value"
							title="Ability used for feet">
							<option type="number" style="width: 45px" value="{{actor.data.SkillValue.value}}">0</option>
							<option type="number" style="width: 45px" value="{{actor.data.SkillValue.value}}">1</option>
							<option type="number" style="width: 45px" value="{{actor.data.SkillValue.value}}">2</option>
							<option type="number" style="width: 45px" value="{{actor.data.SkillValue.value}}">3</option>
							<option type="number" style="width: 45px" value="{{actor.data.SkillValue.value}}">4</option>
							<option type="number" style="width: 45px" value="{{actor.data.SkillValue.value}}">5</option>
							<option type="number" style="width: 45px" value="{{actor.data.SkillValue.value}}">6</option>
						</select>&nbsp;
					</td>
					<td nowrap align="center"><input type="number" name="XYZ_value" style="width:35px; text-align:center;" title="XYZ-Wert" value="{{actor.data.XYZ.value}}"></td>
					<td nowrap align="center"><input type="number" name="XYZ_value" style="width:35px; text-align:center;" title="XYZ-Wert" value="{{actor.data.XYZ.value}}"></td>
					<td nowrap align="center"><input type="text" class="{{actor.data.XYZ.value}}" name="data.XYZ.value" style="width:60px; text-align:center;" title="{{itemsthing.name}}-Wert" value="{{actor.data.XYZ.value}}" placeholder="Typus"></td>
                     <!-- <td nowrap align="center"><button type="button" data-toe-roll="1d12" data-toe-ability="Strength" style="background-image:url(../../systems/toeloria/icons/d12_kl.png); height: 27px; width: 27px;"></button></td> -->
					 <!-- {{actor.data.ItemDiscription.value}} -->
                     <td nowrap align="center" ><span class="item-delete delete">&nbsp;<i class="fas fa-trash"></i>&nbsp;</span></td>
                  </tr>
               </tbody>
            </table>
			</div>
		{{/each}}
	</ol>
</div>
