<form class="{{cssClass}}" autocomplete="off">
	<header class="sheet-header">
		<img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
		<h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}" /></h1>
	</header>
	<br>
	<table>
		<tbody>
			<tr>
				<td nowrap align="center">Beschreibung: </td>
			</tr>
			<tr>
				<td nowrap align="center"><textarea style="width: 450px; height: 100px;" name="data.ItemDiscription.value" title="ItemDiscription" placeholder="{{ localize 'Name' }}">{{data.ItemDiscription.value}}</textarea></td>				
			</tr>
		</tbody>
	</table>
</form>
